{% extends 'base.html'  %}

{% block content %}
<h2 style="text-align:center">{{search | title}}</h2>

    <div class="row">
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk0hfaTNQ1kBDScqg3SEOZ3peDdVKy9r_zfg5BIkFJ1Xi3QQil&s" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>TEST</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Price TEST PRICE}</a>
                    </div>
                </div>
            </div>
    </div>
{%   endblock content  %}
